# Created by .ignore support plugin
#.gitignore for java
*.class

# Package Files #
*.jar
*.war
*.ear
*.ids
**/target/

# logs
/stacktrace.log
/test/reports
/logs
*.log
*.log.*

## .gitignore for intellij
*.iml
*.ipr
*.iws
*.ids
.idea/

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

**/.idea/misc.xml
**/.idea/modules.xml
**/.idea/vcs.xml
**/.idea/workspace.xml
**/.idea/uiDesigner.xml

## .gitignore for eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
**/.DS_Store
.DS_Store
